@charset "utf-8"

@import compass/css3
@import compass/typography
@import _util

/* ============================
 * 
 *     Reset Defaults
 *
 * ============================ */

@import compass/reset

/* ============================
 * 
 *     Whole Contents
 *
 * ============================ */

html, body
  height: 100%

body
  overflow: hidden
  width: 100%
  height: 100%
  font-size: 100%
  line-height: 140%
  font-family: "Montserrat", sans-serif

img
  vertical-align: bottom

strong
  font-weight: bold

a
  //+link-colors($key-blue, $sub-red, $sub-red, $key-blue, $sub-red)//n-h-a-v-f

input
  font-size: 75%
  line-height: 120%

input.placeholder
  color: #999


/* ============================
 * 
 *     Contents
 *
 * ============================ */

#main
  height: 100%
  position: relative

@keyframes dash-anim
  from
    stroke-dashoffset: 0
  to
    stroke-dashoffset: 16px

#routemap
  position: fixed
  left: 0
  top: 0
  .subline-anim
    stroke-dasharray: 10px 6px
    animation: 'dash-anim' 3s linear 0s infinite


#mapcontrol
  position: fixed
  left: 0
  bottom: 0
  z-index: 9999
  width: 100%

.scale-slider
  position: relative
  z-index: 9999
  width: 300px
  height: 30px
  margin: 10px auto
  text-align: center
  line-height: 24px
  &>span
    display: inline-block
    vertical-align: middle

.scale-slider-groove
  width: 240px
  height: 2px
  background: #CCC

.scale-slider-icon
  width: 30px
  line-height: 24px

.scale-slider-ico-wide

.scale-slider-ico-tele
  margin-top: -0.125em
  i
    font-size: 0.8rem
    line-height: 100%
    letter-spacing: -0.25em
  i:first-child, i:last-child
    font-size: 0.5rem

.scale-slider-handle
  position: absolute
  top: 3px
  width: 30px
  height: 30px
  margin: -3px
  background: #000
  border-radius: 4px
  cursor: pointer
  font-size: 0.75rem
  text-align: center
  line-height: 28px
  color: #FFF
  &>.fa
    transform: rotate(90deg)

.scale-silder-display
  position: absolute
  left: 0
  bottom: 30px
  width: 100%
  text-align: center

.scale-silder-display-amount
  margin-left: 0.125em
  font-size: 1.25rem
  line-height: 140%

.minimap
  position: fixed
  left: 10px
  top: 10px
.minimap-init
  position: absolute
  border: 1px solid #CCC
  background: #FFF
  opacity: 0.8
.minimap-current
  position: absolute
  background: #CCC
  opacity: 0.8


.dedug-mapcontrol
  position: fixed
  left: 0
  top: 0
  text-align: center
  color: #F66
  font-size: 0.5rem
  line-height: 140%
  border: 1px solid #F00

#updates
  display: none

#horizontal-center
  position: fixed
  left: 50%
  top: 0
  width: 0
  height: 100%
  border-left: 1px solid #F00

#vertical-center
  position: fixed
  top: 50%
  left: 0
  width: 100%
  height: 0
  border-top: 1px solid #F00

/* ============================
 * 
 *     Tablet, PC
 *
 * ============================ */

@media screen and (min-width:767px)


// EOF