@charset "utf-8"

@import compass/css3
@import compass/typography
@import _util

/* ============================
 * 
 *     Reset Defaults
 *
 * ============================ */

@import compass/reset

/* ============================
 * 
 *     Whole Contents
 *
 * ============================ */

html, body
  overflow: hidden
  height: 100%

body
  overflow: hidden
  width: 100%
  height: 100%
  font-size: 100%
  line-height: 140%
  font-family: "Montserrat", sans-serif
  font-weight: normal
  background: #181818
  color: #F0F0F0
  -webkit-overflow-scrolling: touch
  -webkit-text-size-adjust: 100%

img
  vertical-align: bottom

strong
  font-weight: bold

a
  //+link-colors($key-blue, $sub-red, $sub-red, $key-blue, $sub-red)//n-h-a-v-f

input
  font-size: 75%
  line-height: 120%

input.placeholder
  color: #999


/* ============================
 * 
 *     Contents
 *
 * ============================ */

/* ===== Line display panel ===== */

.line-display
  color: #999
  &>*
    display: inline-block

.line--has-info
  color: #FFF

.line-title
  margin: 0.2em 0.25em
  font-weight: bold

.line-msg
  margin: 0.2em 0.25em
  font-size: 0.625rem
  line-height: 120%
  word-wrap: break-word

.line-status

.line-status-icon
  display: inline-block
  width: 1.1em
  margin: 0.2em 0.25em
  text-align: center

.line-status-label
  display: inline-block
  width: 4em
  margin: 0.2em 0.25em
  padding: 0.1em 0.25em
  border-radius: 4px
  background: #333
  color: #F0F0F0
  font-size: 0.625rem
  line-height: 140%
  text-align: center

@media screen and (min-width:767px)
  .line-container
    font-size: 1rem
    line-height: 140%

  .line-msg
    font-size: 0.75rem
    line-height: 120%

  .line-status-label
    font-size: 0.75rem
    line-height: 140%

/* ===== Main ===== */

#main
  height: 100%
  position: relative

//@keyframes dash-anim
//  from
//    stroke-dashoffset: 0
//  to
//    stroke-dashoffset: 60px


#title
  position: fixed
  left: 0
  top: 0
  z-index: 9999
  padding: 10px
  font-size: 1rem
  line-height: 120%
  color: rgba(255,255,255,0.8)
.title-beta
  font-size: 0.5em

@media screen and (min-width:767px)
  #title
    padding: 20px
    font-size: 2rem
    line-height: 120%

/* ===== SVG Routemap ===== */

#routemap
  position: fixed
  left: 0
  top: 0
  z-index: 0
  width: 100%
  height: 100%
  //background: #CCF
  .subline
    opacity: 0.6
  a:hover
    .subline
      opacity: 1
      //stroke-dasharray: 30px 30px
      //animation: 'dash-anim' 3s linear 0s infinite
  svg
    position: absolute
    left: 0
    top: 0
    z-index: 0
    max-height: 100%
    //background: #FCC
  path
    transition: stroke-width 0.25s ease-in-out, stroke 0.25s ease-in-out, opacity 0.25s ease-in-out
  text
    fill: #FFF
    text-shadow: 0 0 1px rgba(0,0,0,1)

/* ===== Stations ===== */

#stations
  position: fixed

//.stations-list
//  .station
//    position: fixed
//    left: 0
//    top: 0
//    font-size: 0.75rem
.station-label
  cursor: default

/* ===== Popup ===== */

#popup
  position: absolute
  z-index: 999
  max-width: 100%

.popup-container
  overflow: hidden
  font-family: "Source Sans Pro", sans-serif
  font-size: 0.75rem
  line-height: 140%

.popup-container-wrapper
  background: rgba(0,0,0,0.8)
  border-bottom: 2px solid #333
  margin-bottom: -100%
  transition: margin 0.25s ease-in-out

.popup--show
  .popup-container-wrapper
    margin-bottom: 0

/* ===== Map control ===== */
//#mapcontrol

/* ===== horizontal slider ===== */

#map-slider-horizontal
  position: fixed
  left: 0
  bottom: 0
  z-index: 8
  width: 100%

.scale-slider
  position: relative
  z-index: 9999
  width: 300px
  height: 30px
  margin: 10px auto
  text-align: center
  line-height: 24px
  //background: #FCC
  &>span
    display: inline-block
    vertical-align: middle

.scale-slider-groove
  width: 240px
  height: 2px
  background: #666

.scale-slider-icon
  width: 30px
  height: 30px
  line-height: 30px
  color: #999

.scale-slider-ico-wide

.scale-slider-ico-tele
  margin-top: -0.125em
  i
    font-size: 0.8rem
    line-height: 100%
    letter-spacing: -0.25em
  i:first-child, i:last-child
    font-size: 0.5rem

.scale-slider-handle
  position: absolute
  top: 0
  width: 30px
  height: 28px
  margin: 0 -3px
  background: #B0B0B0
  border-top: 1px solid #E0E0E0
  border-bottom: 1px solid #666
  border-radius: 4px
  cursor: pointer
  font-size: 0.75rem
  text-align: center
  line-height: 28px
  color: #333
  &>.fa
    transform: rotate(90deg)

.scale-silder-display
  position: absolute
  left: 0
  bottom: 30px
  width: 100%
  text-align: center

.scale-silder-display-amount
  margin-left: 0.125em
  font-size: 1.25rem
  line-height: 140%

/* ===== vertical slider ===== */

#map-slider-vertical
  display: flex
  position: fixed
  left: 0
  top: 0
  z-index: 8
  height: 100%
  flex-direction: column
  align-items: center

.scale-slider--vertical
  width: 30px
  height: 300px
  margin: auto 10px
  &>span
    display: block
  .scale-slider-groove
    width: 2px
    height: 240px
    margin: 0 auto
    background: #666
  .scale-slider-handle
    margin: -3px 0
    &>.fa
      transform: rotate(0deg)
  .scale-silder-display
    position: absolute
    left: 30px
    bottom: 50%
    margin-bottom: -0.5em

/* Hide slider for small height */
@media screen and (max-height: 414px)
  #map-slider-vertical
    display: none

/* ===== Minimap ===== */

.minimap
  position: fixed
  right: 65px
  top: 10px
  z-index: 7
.minimap-init
  position: absolute
  right: 0
  top: 0
  border: 1px solid #666
  background: #333
  opacity: 0.8
.minimap-current
  position: absolute
  +checkered-background(2px, rgba(255,255,255,0.6))

@media screen and (min-width:767px)
  .minimap
    position: fixed
    right: 80px
    top: 20px


/* ===== Clock ===== */

#clock
  position: fixed
  right: 10px
  top: 10px
  width: 40px
  height: 40px
  //background: rgba(0,0,255,0.5)
  color: #FFF

@media screen and (min-width:767px)
  #clock
    right: 20px
    top: 20px



/* ===== Updates ===== */

#footer
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  height: 100%
  z-index: 9999
  background: rgba(0,0,0,0.8)

.updates-list
  box-sizing: border-box
  overflow: scroll
  position: relative
  width: 100%
  //height: 200px
  max-height: 100%
  padding-bottom: 96px

/* ----- update nav bar ----- */

.update-nav-bar
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: 54px
  padding-bottom: 44px
  background: #000
  ul
    display: table
    width: 100%
    background: #333
    letter-spacing: -0.3em
  li
    display: table-cell
    position: relative
    vertical-align: top
    letter-spacing: 0
    &:nth-child(2)
      width: 2 * 55px

.update-nav-btns
  width: 2 * 54px
  text-align: right

.update-nav-btn
  display: inline-block
  padding: 1em
  background: #333
  border-left: 1px solid #000
  cursor: pointer
  +link-colors(#FFF, #CCC, #FFF, #FFF, #FFF)//n-h-a-v-f
  text-decoration: none
  &:hover
    background: #666

.update-nav-label
  display: none

.update-nav-icon
  margin-left: 0.25em
  margin-right: 0.25em

.update-nav-search-box
  position: relative
  display: block
  padding-right: 54px
  vertical-align: top
  background: #333
  label
    display: block
    padding: 0.25em 0.5em
    font-size: 0.75rem
    line-height: 140%
  input
    box-sizing: border-box
    width: 100%
    margin: 0
    padding: 0.4em 0.5em
    border: 0
    background: #202020
    color: #FFF
    font-size: 1rem
    border-radius: 0

.update-search-nav-btn
  display: block
  position: absolute
  right: 0
  top: 0
  vertical-align: top
  border-left: 0

@media screen and (min-width:767px)
  .update-nav-bar
    ul
      display: table
      width: 100%
      letter-spacing: -0.3em
    li
      display: table-cell
      width: 60%
      vertical-align: top
      letter-spacing: 0
      &:nth-child(2)
        width: 39%

  .update-nav-label
    display: inline-block

  .update-nav-search-box
    display: inline-block
    width: 100%
    padding-right: 0
    label
      display: inline-block
      margin-left: 1em
      margin-right: 1em
      font-size: 0.75rem
    input
      width: 60%
      padding: 1.1em

  .update-search-nav-btn
    display: inline-block
    position: relative
    right: auto
    top: auto
    vertical-align: top
    border-right: 1px solid #000


/* ----- update contents ----- */

.update-container
  margin: 1px
  border-left: 3px solid #666
  border-bottom: 0

/* ----- update bottom bar ----- */

.footer-nav-bar
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  text-align: center
  font-size: 2rem
  line-height: 140%
  text-align: center

  li
    display: inline-block
    margin: 0 1em
  a
    +link-colors(#FFF, #CCC, #FFF, #FFF, #FFF)//n-h-a-v-f

.footer-nav-updates
  transform: rotate(0)
  transition: transform 0.25s ease-in-out

.footer-nav-updates--open
  transform: rotate(45deg)

/* ===== Debug ===== */

#debug
  display: none
  position: absolute
  right: 0
  top: 0
  z-index: 10
  background: rgba(0,0,255,0.9)


// EOF